#reply-modal-container {
    box-sizing: border-box;
    background-color: #15202b;
    width: 600px;
    min-height: auto;
    max-height: 800px;
    border-radius: 20px;
    padding: 0px 16px;
    overflow-y: auto;

}

#reply-modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#reply-modal-reply-icon {
    height: 22.5px;
    widtH: 22.5px;
}

.num-replies-button {
    margin-left: 5px;
}

.reply-modal-header-container {
    display: grid;
    grid-template-columns: 56px 1fr;
    min-height: 53px;
    max-height: 100px;
    align-items: center;
}

.x-button-container {
    display: flex;
    align-items: center;
}

#x-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

#x-icon {
    height: 18px;
    widtH: 18px;
}

#x-button:hover {
    background-color: #3a3c3d;
    border-radius: 50%;
}


.reply-title {
    display: flex;
    align-items: center;
}


.reply-modal-body-container {
    padding-top: 4px;
    display: flex;
}

.reply-modal-parent-left {
    display: grid;
    grid-template-rows: 48px 1fr;
    margin-right: 12px;
}

.reply-modal-connecting-line-container {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.reply-modal-connecting-line {
    width: 4px;
    height: 98%;
    background-color: rgb(66, 83, 100);
}


.reply-modal-parent-profile-pic,
.reply-modal-user-profile-pic {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
}

.reply-modal-user-profile-pic {
    margin-top: 4px;
}

.reply-modal-username-timestamp {
    color: #8B98A5
}

.reply-modal-parent-content {
    margin-top: 5px;
    padding-bottom: 12px;
    font-size: 1rem;
    word-break: break-all;
}

.reply-modal-replying-to-text {
    padding: 4px 0px 16px;
}

.reply-modal-footer-container {
    min-height: 176px;
    display: flex;
}

.reply-modal-footer-left {
    margin-right: 12px;
}

.reply-modal-footer-right {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    max-height: 500px;
}

#reply-modal-input {
    position: relative;
    background-color: #15202b;
    height: 1.2rem;
    width: 98%;
    max-height: 135px;
    overflow-y: auto;
    resize: none;

}

.reply-modal-input-container {
    height: auto;
    margin-bottom: 5px;
    max-height: 145px;
    overflow: auto;
}

#reply-modal-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 155, 240);
    border-radius: 3rem;
    width: 73px;
    height: 36px;
}

#reply-modal-submit-button:hover {
    cursor: pointer;
}

.reply-modal-button-text {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

.reply-modal-images-container {
    margin-bottom: 10px;
}


.reply-modal-images-container[data-images='0'] {
    display: none;
    max-height: 270px;
    border-radius: 15px;
}

.reply-modal-images-container[data-images='1'] {
    display: flex;
    max-height: 270px;
    border-radius: 15px;
}

.reply-modal-images-container[data-images='2'] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px;
    gap: 10px;
    height: 260px;
    border-radius: 15px;
}

.reply-modal-images-container[data-images='3'],
.reply-modal-images-container[data-images='4'] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 130px;
    gap: 5px;
    max-height: 270px;
    border-radius: 15px;
}

.reply-modal-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.reply-modal-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    margin-top: 5px;
    grid-row-start: 3;
}
