.post-container-border {
    background-color: #415475;
    width: 100%;
    border-bottom: 1px solid white;
    border-radius: 15px;
}

.entire-create-post-wrapper {
    background-color: #415475;
}

.post-container-border * {
    background-color: #415475;
}

.post-container {
    padding: 10px;
    display: flex;
    border-radius: 15px;
    border: 3px solid #f9e491;
}

.profile-picture {
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.post-content-text {
    word-break: break-all;
}

.post-profile-icon-container {
    padding-right: 10px;
}

.post-images-wrapper {
    padding: 10px 0px;

}
