.profile-picture {
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.post-container-border {
    width: 100%;
    border-bottom: 1px solid white;
}

.post-container {
    padding: 10px;
    display: flex;
}

.post-content-text {
    word-break: break-all;
}

.post-profile-icon-container {
    padding-right: 10px;
}
