.edit-post-modal-container,
.edit-post-modal-container * {
    background-color: #15202b;
}

.edit-post-modal-container {
    width: 600px;
    padding: 20px;
}

.edit-post-button {
    display: flex;
    align-items: center;
}

#edit-icon {
    height: 20px;
    width: 20px;
    margin-right: 3px;
}
