.reply-card-wrapper {
    box-sizing: border-box;
    width: 650px;
    display: flex;
    max-height: 700px;
    padding: 12px;
    padding-top: 0px;
    border-bottom: 1px solid rgb(66, 83, 100);
    border-top: 1px solid rgb(66, 83, 100);
    transition: background-color .5s;
}

.reply-card-wrapper:hover {
    background-color: rgba(53, 77, 100, .3);
}

.reply-card-wrapper * {
    background: none;
}

.delete-icon {
    height: 22.5px;
    width: 22.5px;
    padding-top: 2px;
}

.reply-card-left {
    width: 48px;
    display: flex;
    margin-right: 8px;
    flex-direction: column;
}

.reply-card-profile-pic {
    width: 48px;
    height: 48px;
    /* background-color: white; */
    border-radius: 50%;
}

.reply-card-content-container {
    word-break: break-all;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.underline-white {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: .5s;

    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}

.underline-white:hover {
    text-decoration-color: rgb(255, 255, 255);

    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: rgb(255, 255, 255);
    -moz-text-decoration-color: rgb(255, 255, 255);
}

.underline-dim {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: #8B98A5;
    transition: .5s;

    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}

.underline-dim:hover {
    text-decoration-color: #8B98A5;

    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: #8B98A5;
    -moz-text-decoration-color: #8B98A5;
}


.reply-card-top-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reply-card-right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;

    /* display: grid;
    grid-template-rows: 22px 22px auto auto 20px; */
}

.reply-card-dim {
    color: #8B98A5
}

.reply-card-images-container[data-images='0'] {
    display: none;
}

.reply-card-images-container[data-images='1'] {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    gap: 5px;
}

.reply-card-images-container[data-images='2'] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 500px;
    gap: 5px;
}

.reply-card-images-container[data-images='3'],
.reply-card-images-container[data-images='4'] {
    max-height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 50%) minmax(0, 1fr);
    gap: 5px;
}

.reply-card-image {
    object-fit: cover;
    max-height: 500px;
    height: 100%;
    width: 100%;
}

.reply-card-buttons {
    margin-top: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.reply-card-buttons>* {
    /* margin-right: 30%; */
}
