.search-top-bar {
    display: flex;
    justify-content: center;
    background-color: rgba(21, 32, 43, 1);
    border-bottom: 1px solid rgb(56, 68, 77);
    z-index: 500;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 648px;
    height: 103px;
}

.search-results-container {
    width: 653px;
    box-sizing: border-box;
}

.view-more-button {
    display: flex;
    width: 100%;
    align-items: center;
    height: 52px;
    box-sizing: border-box;
    padding: 16px;
    color: #1d9bf0;
}

.view-more-button:hover {
    cursor: pointer;
    background-color: rgba(53, 77, 100, .3);
}

.center-search-column {
    min-height: 110vh;
    margin: 0;
    box-sizing: border-box;
    border-left: 1px solid rgb(56, 68, 77);
    border-right: 1px solid rgb(56, 68, 77);
    width: 652px;
}

.users-profile-button,
.posts-profile-button {
    transition: background-color .5s;
}

.users-profile-button-container[data-active='users'],
.posts-profile-button-container[data-active='posts'] {
    box-shadow: 0 4px rgb(29, 155, 240);
    font-weight: 700;
}


.users-profile-button:hover,
.posts-profile-button:hover {
    background-color: rgba(85, 89, 94, 0.3);
}

.posts-profile-button[data-active='posts'] button,
.users-profile-button[data-active='users'] button {
    font-weight: 700;
}
