.user-card-wrapper {
    display: flex;
    padding: 10px;
    border-top: 1px solid rgb(56, 68, 77);
}

.user-card-profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user-card-wrapper:hover {
    background-color: rgba(53, 77, 100, .3);
    cursor: pointer;
}

.user-card-bio-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
}

.user-card-right-container {
    margin-left: 5px;
    width: 100%;
}

.user-card-name-and-follow-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-card-follow-button {
    width: 77px;
    height: 32px;
    background-color: rgb(239, 243, 244);
    color: black;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 700;
}

.user-card-follow-button:disabled {
    opacity: .5;
    cursor: default;
}
