/* TODO Add site wide styles */
@font-face {
    font-family: 'chirp';
    src: local('chirp'), url(./fonts/chirp.woff) format('woff');
}

@font-face {
    font-family: 'chirpH';
    src: local('chirpH'), url(./fonts/chirpH.woff) format('woff');
}

* {
    color: white;
    background-color: #b3d7de;
    font-family: 'chirp';
    font-size: 18px;
}

button {
    border: none;
}

button:not(.back-button):not(#file-select):not(#logout-button) {
    background-color: #db9d66;
    color: black;
    border: none;
    border-radius: 15px;
}

#file-select:disabled {
    opacity: .5;
    cursor: default;
}



button:hover {
    cursor: pointer;
}

.back-button {
    border: none;
}

.navigation {
    font-family: 'chirpH';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.center-column {
    /* padding: 10px; */
    /* border: 1px solid white; */
    width: 650px;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    justify-content: center;
    /* justify-content: center;
    align-items: center; */
}

::placeholder {
    color: white;
    padding-top: .8rem;
    padding-left: .2rem;
    opacity: .5;
}

#root {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.duck-icon,
.home-icon {
    height: 50px;
    width: 50px;
}

#entire-app-container {
    display: grid;
    grid-template-columns: 27% 650px 1fr;
    width: 100%;

}

.navigation-icons-wrapper {
    display: flex;
    flex-direction: column;
}

.navigation-icons-wrapper>* {
    height: 50px;
    width: 250px;
}

.nav-items {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    opacity: .4;
    cursor: pointer;
}
