/* TODO Add site wide styles */
* {
    color: white;
    background-color: #716F81;
    font-family: -apple-system;
}

button {
    background-color: #F6AE99;
    color: white;
    border: none;
    border-radius: 15px;
}

.center-column {
    border-left: 1px solid #fbecbb;
    border-right: 1px solid #fbecbb;
}

#root {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#entire-app-container {
    display: flex;
    justify-content: center;
    width: 100%;

}

.nav-items {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.get-images-container {
    display: flex;
    flex-direction: column;
}
