.new-post-text {
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    border-bottom: 1px solid lightgrey;

}

.new-post-buttons {
    display: flex;
    align-items: center;
}
