.new-post-text {
    width: 99%;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
}

.error-message {
    color: red;
}

.entire-create-post-wrapper {
    display: flex;
    border-bottom: 1px solid white;
}

#file-select {
    display: flex;
    align-items: center;
}

.main-quack-button {
    margin: 0px 10px;
}

.create-post-profile-pic-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.new-post-buttons-border {
    display: flex;
}

.new-post-buttons {
    padding: 5px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid white;
}

.new-post-wrapper {
    width: 100%;
}

.staging-images-wrapper {
    max-width: 582px;
    border-radius: 15px;
}

.staging-image {
    border-radius: 10px;
}

.staging-images-wrapper[data-images='1'] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.staging-image[data-images='1'] {
    width: 582px;
    height: auto;
}

.staging-images-wrapper[data-images='2'] {
    display: grid;
    grid-template-columns: 290px 290px;
    gap: 5px;
}

.staging-image[data-images='2'],
.staging-images[data-images='3'] {
    width: 240px;
    height: 282px;
}

.staging-images-wrapper[data-images='3'] {
    display: grid;
    grid-template-columns: 290px 290px;
    grid-template-rows: 290px 290px;
}
