.new-post-text {
    margin-top: 10px;
    width: 99%;
    height: 20px;
    max-height: 150px;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    height: .9rem;
}


.error-message {
    color: red;
}

.entire-create-post-wrapper {
    display: flex;
    width: 640px;
}

#file-select {
    display: flex;
    align-items: center;
}

.main-quack-button {
    margin: 0px 10px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    font-family: 'chirpH';
    background-color: rgb(29, 155, 240);
    border-radius: 3rem;
    height: 36px;
    width: 80px;
}

.create-post-profile-pic-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.new-post-buttons-border {
    display: flex;
    justify-content: flex-end;
}

.new-post-buttons {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid white;
}

.new-post-wrapper {
    width: 100%;
}

#staging-image-div {
    position: relative;
}

.staging-x-icon {
    background-color: inherit;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

/* .staging-x-icon:hover {
    background-color: rgb(62, 65, 68);
} */

.staging-x-container {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgb(22, 24, 28);
    /* background-color: white; */
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staging-x-container:hover {
    background-color: rgb(62, 65, 68);
}

.staging-images-wrapper {
    max-width: 582px;
    border-radius: 15px;
}


.staging-images-wrapper[data-images='1'] {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 450px;
}

.staging-images-wrapper[data-images='2'] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 285px;
    gap: 12px;

}

.staging-images-wrapper[data-images='3'],
.staging-images-wrapper[data-images='4'] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 135px 135px;
    gap: 12px;
}

.staging-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
