#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid rgb(29, 155, 240);
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.home-top-bar {
    background-color: #15202b;
    z-index: 998;
    opacity: .9;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    width: 648px;
    height: 50px;
}

.home-top-bar:hover {
    cursor: pointer;
}
