#loading {
    width: 1rem;
    height: 1rem;
    border: 3px solid #173952;
    border-top: 4px solid rgb(29, 155, 240);
    border-radius: 100%;
    margin: auto;
    animation: spin .9s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.home-top-bar {
    background-color: #15202b;
    z-index: 998;
    opacity: .9;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-sizing: border-box;
    width: 648px;
    height: 50px;
}

.home-top-bar:hover {
    cursor: pointer;
}
