/* #parent-post {

} */

/* #main-post {

} */

.title-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid white;
    height: 28px;
}

.back-button {
    height: 20px;
    display: flex;
    align-items: center;
}
