.media-profile-button,
.tweets-profile-button,
.replies-profile-button {
    transition: background-color .5s;
}

.tweets-profile-button[data-active='tweets'],
.media-profile-button[data-active='media'],
.replies-profile-button[data-active='replies'] {
    box-shadow: 0 4px #1D9BF0;
    font-weight: 700;
}


.tweets-profile-button:hover,
.replies-profile-button:hover,
.media-profile-button:hover {
    background-color: rgba(85, 89, 94, 0.3);
}

.replies-profile-button[data-active='replies'] button,
.media-profile-button[data-active='media'] button,
.tweets-profile-button[data-active='tweets'] button {
    font-weight: 700;

}
