.right-column {
    margin-left: 25px;

    width: 350px;
    /* background-color: white; */
}

#search-bar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: fixed;
    top: 0;
    height: 42px;
    background-color: #273340;
    width: 350px;
    margin: 5px 0px;
    border-radius: 999px;
}

#search-bar:focus-within {
    outline: 1px solid rgb(29, 155, 240);
    background-color: #15202b;
}

.search-input {
    all: unset;
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 15px;
    font-size: 16px;
}

.search-dropdown {
    box-shadow: rgb(136 153 166 / 20%) 0px 0px 15px, rgb(136 153 166 / 15%) 0px 0px 3px 1px;
    border-radius: 5px;
    max-height: 600px;
    overflow-y: auto;
}

.search-item {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 12px 16px;

    transition: background-color .3s;
}

.search-item:hover {
    background-color: rgb(30, 39, 50);
    overflow: hidden;
    cursor: pointer;
}

.search-profile-pic {
    background-color: white;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin-right: 10px;
}

.search-profile-name {
    font-family: 'chirp';
    font-size: 15px;
    line-height: 20px;
    letter-spacing: normal;
    font-weight: 700;
}

.search-profile-username {
    font-family: 'chirp';
    font-size: 15px;
    line-height: 20px;
    letter-spacing: normal;
    font-weight: 400;
    color: #8B98A5;
}
